body{
    background-image: url(https://bitly2s.com/icc1om);    
    }

#ngungoc{
    margin: 120px auto;
    text-align:center;
    color: white;
    max-width: 400px;
}
.usename{
    width:90%
}
.email{
     width:90%
}
.password{
     width:90%
}
.confirm{
     width:90%
}
.button{
    font-size:25px;
    font-family: "Raleway", sans-serif;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    opacity: 0.4;
    color: rgb(5, 5, 5);
    border:none;
    border-radius: 8px;
}
.button:hover {  
    background-color: rgb(250, 246, 247);  
    color: Black;}